.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 4px;
  justify-content: center;
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.gallery2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: stretch;
  width: 100%;
  gap: 23px;
}

.galleryItem {
  width: 100%;
  height: 100%;
}

.galleryItem img {
  /* filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3)); */
  outline: 1px solid rgba(255, 255, 255, 0.1); /* Border inside */
  outline-offset: -1px; /* Moves the border inside */
}

.galleryItemPadding {
  height: 100%;

  background-color: #ffffff;
  display: flex;
  padding: 40px 30px;
}

.cardLink {
  text-decoration: none;
}

.cardLabel {
  opacity: 0;
  font-size: 11px;
  text-align: center;
  line-height: 11px;

  pointer-events: none;
  width: 100%;

  position: absolute;

  top: calc(100%);

  right: 0%;

  transition: all 0.2s linear;
  display: flex;
}

.cardLabelText {
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;

  line-height: 16px;

  padding: 4px;

  color: #444444;
}

.cardContainer {
  position: relative;
  /* width: 220px; */
  /* height: 170px; */
  overflow: hidden;
  border-radius: 0px;
  cursor: pointer;
  margin-bottom: 0px;
}

.cardContainerStatic {
  position: relative;
  width: 100%;
  border-radius: 0px;
  cursor: pointer;
  margin-bottom: auto;
  margin-top: auto;
  transition: all 0.22s linear;
}

.cardContainerStatic:hover {
  transform: scale(1.02);
}

.cardContainerStatic:hover .cardLabel {
  opacity: 1;
}

.gridCardContainer {
  width: 220px;
  height: 170px;
  margin-bottom: 0px;
}

.cardHoverContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  background-color: var(--primary-dark-70);
  pointer-events: none;
}

.card {
  transition: all 0.5s ease-out;
  cursor: pointer;

  width: 100%;
  height: 100%;
  position: relative;

  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35); /* Soft shadow */
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); */
}

/* .card:hover {
  filter: invert(100%) brightness(0.3) contrast(0.8);
  transform: scale(1.1);
} */

.cardContainer:hover .cardText {
  top: 50%;
}

.cardText {
  padding: 10px;
  text-align: center;
  position: absolute;

  width: 100%;

  font-size: 15px;
  line-height: 30px;
  transition: all 0.33s ease;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-weight: 600;
  color: white;
  line-height: 20px;
}
