.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 24px;
  justify-content: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cardContainer {
  position: relative;
  width: 220px;
  height: 170px;
  overflow: hidden;
  border-radius: 0px;
  cursor: pointer;
}

.cardContainer:hover .card {
  filter: invert(100%);
  transform: scale(1.3);
}

.cardContainer:hover .cardHoverContainer {
  opacity: 1;
}

.cardHoverContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  background-color: rgb(129, 9, 127, 0.5);
  pointer-events: none;
}

.card {
  transition: all 0.5s ease-out;
  cursor: pointer;

  width: 100%;
  height: 100%;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); */
}

/* .card:hover {
  filter: invert(100%) brightness(0.3) contrast(0.8);
  transform: scale(1.1);
} */

.cardContainer:hover .cardText {
  top: 50%;
}

.cardText {
  padding: 10px;
  text-align: center;
  position: absolute;

  width: 100%;

  font-size: 15px;
  line-height: 30px;
  transition: all 0.33s ease;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-weight: 600;
  color: white;
}
