.wrapper {
  font-family: 'playfair display', serif;
  display: flex;
  width: 100%;
  background-color: white;

  color: #222;

  padding: 10px 40px;

  justify-content: center;

  margin-bottom: 40px;

  @media (max-width: 400px) {
    padding: 24px;
  }

  .links {
    display: flex;
    gap: 12px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
}

.logo {
  font-size: 43px;
  line-height: 40px;
  font-weight: 900;

  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #222;
  transition: all 0.3s ease;
}

.nav a:hover {
  color: var(--primary);
}
.nav .active a {
  color: var(--primary);
}

.nav ul {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  line-height: 24px;
  margin-left: 110px;
  margin-top: 30px;
  list-style: none;
  font-family: 'Source Sans 3', sans-serif;
}

.nav ul li {
  padding: 0px 22px;
  border-right: 1px solid #333;
}

.nav ul li:last-child {
  border-right: none;
}
