.nav {
  display: flex;

  align-items: center;
  color: #222;

  padding: 20px 20px 30px 60px;
  max-width: 1360px;
  margin: 0 auto;

  @media (max-width: 400px) {
    padding: 24px;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .links {
    display: flex;
    gap: 12px;
  }

  background-color: white;
}

.nav a {
  font-weight: 600;
  text-decoration: none;
  color: #222;
  transition: all 0.3s ease;
}

.nav a:hover {
  color: var(--primary);
}
.nav .active a {
  color: var(--primary);
}

.nav ul {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 28px;
  margin-left: 90px;
  margin-top: 30px;
  list-style: none;
}

.nav ul li {
  padding: 0px 20px;
  border-right: 1px solid #333;
}

.nav ul li:last-child {
  border-right: none;
}
